{% extends 'base/default.html.twig' %}

{% block title %}Signup{% endblock %}

{% block content %}
    <main class="main-content">
        {% include "elements/background.html.twig" %}
        <section class="pane">
            <div class="pane__panel panel panel--login">
                <div class="panel__body">
                    <h1 class="text-uppercase text-white mb-0">Sign up</h1>
                    <p class="text-muted--70 text-white mb-6">Sign up with your e-mail and password</p>
                    {% for type, message in app.flashes() %}
                        {% include "elements/alert.html.twig" with {
                            message: flashError
                        } %}
                    {% endfor %}
                    {{ form_start(form) }}
                        <div class="row gutters-2">
                            <div class="col-12">
                                {{ form_label(form.username, 'Your name', { 'label_attr': {'class': 'sr-only'}}) }}
                                {{ form_errors(form.username) }}
                                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Full name'}}) }}
                            </div>
                            <div class="col-12">
                                {{ form_label(form.email, 'Email', { 'label_attr': {'class': 'sr-only'}}) }}
                                {{ form_errors(form.email) }}
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.plainPassword, 'Email', { 'label_attr': {'class': 'sr-only'}}) }}
                                {{ form_errors(form.plainPassword) }}
                                {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Password', 'data-parsley-equalto': '#login-confirm-password'}}) }}
                            </div>
                            <div class="col-md-6">
                                <label class="sr-only" for="login-confirm-password">Confirm password</label>
                                <input type="password" class="form-control" id="login-confirm-password" placeholder="Confirm password" data-parsley-equalto="#registration_form_plainPassword" required>
                            </div>
                        </div>
                        <div class="row gutters-2">
                            <div class="col-12 col-md-6">
                                <button type="submit" class="btn btn-secondary btn-block">
                                    <span class="btn__text">Sign up</span>
                                </button>
                            </div>
                            <div class="col-12 col-md-6">
                                <a class="btn btn-outline-white btn-block" href="{{ path('app_login') }}" title="sign up">
                                    <span class="btn__text">Login</span>
                                </a>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
