{% extends 'base/projects.html.twig' %}

{% block title %}Projects{% endblock %}

{% block content %}
    <main class="main-content">
        {% include "elements/background.html.twig" with {
            background: 'background-projects.jpg',
            retina_background: 'background-projects@2x.jpg'
        } %}
        <section class="pane py-5 py-lg-10 position-relative">
            <div class="container">
                <h1 class="h5 text-white mb-6">Projects</h1>
                <div class="row row--equalized gutters-5">
                    {% for project in projects|default([]) %}
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <a href="{{ path('app_project_detail', { slug: project.slug }) }}" title="{{ project.title }}" class="card card--link card--product">
                                <div class="card__image has-overlay m-2">
                                    <img class="card-img-top" src="{{ project.image }}" srcset="{{ project.image }} 2x" alt="{{ project.title }}">
                                </div>
                                <div class="card-body">
                                    <p class="mb-3">{{ project.title }}</p>
                                    <div class="row gutters-2">
                                        {% for item in [0, 1] %}
                                            {% set is_project_leader = loop.first %}

                                            <div class="col-auto">
                                                <div class="user">
                                                    {% if is_project_leader %}
                                                        <div class="user__leader">
                                                            {% include "elements/icon.html.twig" with {
                                                                icon_type: 'star',
                                                                icon_size: 6,
                                                                icon_classes: ['text-tertiary']
                                                            } %}
                                                        </div>
                                                    {% endif %}
                                                    <img class="user__image img-fluid rounded-circle" src="https://picsum.photos/25" srcset="https://picsum.photos/50 2x" alt="User">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <article class="card card--link card--transparent">
                                <div class="card-body d-flex align-items-center justify-content-center p-10">
                                    <a class="btn btn-link text-decoration-none stretched-link" href="{{ path('app_project_add') }}" title="Add project">
                                    <span class="btn-text d-flex flex-column align-items-center text-white text-muted--40">
                                        {% include "elements/icon.html.twig" with {
                                            icon_type: 'add_project',
                                            icon_size: 48
                                        } %}
                                        <span class="text--sm mt-1">Add more projects</span>
                                    </span>
                                    </a>
                                </div>
                            </article>
                        </div>
                    {% endif %}
                </div>
                {% if projects is empty and not is_granted('ROLE_ADMIN') %}
                    <p class="text-white">You don't have any projects yet</p>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}
